* {
  box-sizing: border-box;
  font-family: sans-serif; 
}

body {
  width: 960px;
  height: 900px
}


form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgb(11, 182, 235);
}

#nav li {
  display: inline
}

td > a {
  text-decoration: none;
}

/* .viewSearch,
.viewAbout,
.viewCreate {
  outline: 1px solid transparent;
  border: solid green;
} */

#search,
#detail,
#about,
#create,
#edit {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.nutritionTable > table {
  width: 80%;
}

.nutritionTable > th {
  
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

#result {
  margin-bottom: 20px;
}

input:focus {
  outline: 1px solid transparent;
  border: solid green;
}